h1{
	font-size: 40px;
	background: rgb(56,49,88);
	font-family: comic;
	text-align: center;
	color: rgb(255,255,255);
    
}
h2{
	text-align:center;
}
div{
	text-align:center;
}
.hyperlink{
	text-align: center;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(65,74,109);
}
.quality{
	text-align: right;
	font-size: 26px;
	padding-top: 0px;
	padding-bottom: 0px:
}
.sub{
 font-size: 40px;
padding-top: 0px;
padding-bottom: 0px;
}
