h1{
	font-size: 40px;
	background: rgb(56,49,88);
	font-family: comic;
	text-align: center;
    
}
h2{
	text-align:center;
}
div{
	text-align:center;
}
.hyperlink{
	text-align: center;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(65,74,109);
}
